###############################################################################
# Normalize line endings using LF for text files.
###############################################################################
* text=auto eol=lf

###############################################################################
# Binary files (never modify, never diff)
###############################################################################
*.png   -text
*.jpg   -text
*.jpeg  -text
*.bmp   -text
*.gif   -text
*.tga   -text
*.psd   -text
*.ico   -text
*.ttf   -text
*.pdf   -text
*.mp3   -text
*.aac   -text
*.mp4   -text
*.mkv   -text
*.ts    -text
*.zip   -text
*.7z    -text
*.gz    -text
*.tar   -text
*.rar   -text

###############################################################################
# Executables and libraries
###############################################################################
*.exe   -text
*.dll   -text
*.lib   -text
*.so    -text
*.dylib -text
*.solib -text
